* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}
body{
    background-color: #DBF0FF;
}

nav {
    width: 1244px;
    height: 51px;
    background-blend-mode: color-burn;
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 23px;
    border-radius: 12px;
    border: 3px solid #000;
    background: rgba(255, 255, 255, 0.30);
    position: fixed;
    z-index: 99;

}

.logo a {
    display: inline-block;
    color: #000;
    text-align: center;

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-decoration: none;

    margin: 13px 565px 10px 44px;
}

.icons {
    margin-top: 15px;
}

.icons a {
    color: #000;
    text-align: center;

    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-decoration: none;

}

.icons a:hover {
    color: #4157ff;
    text-align: center;

    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: 0.3s ease-in;
    text-decoration: none;

}


@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
  }
  
  .logo{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline-block;
  
  }
  
  main {
    font-variation-settings: "wght" 200, "ital" 0;
    text-shadow: none;
    
    transition: all 0.5s;
    -webkit-text-stroke: 1px #000000;
    font-size: 35px;
    text-align: center;
    color: transparent;
   
  }
  
  main:hover {
    font-variation-settings: "wght" 500, "ital" 1;
     /* font-family: "Meta", sans-serif; */
    text-shadow: -4px -4px 0px #007bff,
      4px 4px 0px #3b31ff,
      8px 8px 13px #8d22ff;
    cursor: pointer;
  
  }




  /* hero */

   
.hero{
    margin-left: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftContainer{
    margin: 222px 22px 416px 120px;
    display: inline-block;
    gap: 30px;
}
.leftContainer h1{
    color: #000;
font-size: 84px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.leftContainer h6{
    margin-top: 20px;
    color: #000;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.hero{
    background-image: url(/images/Balls2.svg);
    background-repeat: no-repeat;
    background-position-x:550px;
}

.form{
    width: 476px;
    height: 577px;
    flex-shrink: 0;
margin: 142px 150px 184px 122px;
display: inline-block;
border-radius: 23px;
background: rgba(255, 255, 255, 0.40);
}

